extends layout

block content 
  style.
    h2,
    span {
      color: #{detail.element.color};
    }

  h1= title 

  h2= detail.element.name 

  p. 
    #{detail.element.description}

  h3 Weapons with 
    span #[em #{detail.element.name}] 
    | element
    
  ul
    each weapon in detail.weapons 
      li #{weapon.name}
    else 
      li There are no weapons currently in the database.
