extends layout

block content 
  h1= title 

  h2= detail.element.name 

  if (detail.element.description)
    p= detail.element.description

  h3 Weapons with #[em #{detail.element.name}] element
  ul
    each weapon in detail.weapons 
      li #{weapon.name}
