extends layout

block content 
  h1= title 

  h2= detail.manufacturer.name 

  p. 
    #{detail.manufacturer.description}

  h3 Weapons made by #[em #{detail.manufacturer.name}]
  ul
    each weapon in detail.weapons 
      li #{weapon.name}
    else 
      li There are no weapons currently in the database.

  hr
  p 
    a(href=detail.manufacturer.url + "/update") Update manufacturer
    a(href=detail.manufacturer.url + "/delete") Delete manufacturer
