extends layout

block content 
  h1= title 

  h2= detail.manufacturer.name 

  p. 
    #{detail.manufacturer.description}

  h3 Weapons produced by #[em #{detail.manufacturer.name}]
  ul
    each weapon in detail.weapons 
      li #{weapon.name}
