extends layout

block content 
  h1= title 

  h2= detail.type.name 

  if (detail.type.description)
    p= detail.type.description

  h3 Weapons with #[em #{detail.type.name}] type
  ul
    each weapon in detail.weapons 
      li #{weapon.name}