extends layout 

block content 
  h1= title 

  h2= detail.name

  ul
    li #[strong Type]: #{detail.type.name}
    li #[strong Manufacturer]: #{detail.manufacturer.name}
    li #[strong Elements]:
    if detail.element
      each element in detail.element 
        | #{element.name} 
    else 
      | None
    li #[strong Rarity]: #{detail.rarity.name}

  hr
  p 
    a(href=detail.url + "/update") Update weapon
  p 
    a(href=detail.url + "/delete") Delete weapon