extends layout 

block content 
  h1= title 

  ul 
    each weapon in weaponList 
      li 
        a(href=weapon.url) #{weapon.name}

        ul
          li #[strong Type]: #{weapon.type.name}
          li #[strong Manufacturer]: #{weapon.manufacturer.name}
          li #[strong Elements]:
          each element in weapon.element 
            | #{element.name} 
          li #[strong Rarity]: #{weapon.rarity.name}

    else 
      li There are no weapons.