extends layout 

block content 
  h1= title 

  h2= detail.name

  ul
    li #[strong Type]: #{detail.type.name}
    li #[strong Manufacturer]: #{detail.manufacturer.name}
    li #[strong Elements]:
    if detail.element
      each element in detail.element 
        | #{element.name} 
    else 
      | None
    li #[strong Rarity]: #{detail.rarity.name}

  p Do you really want to delete this weapon?

  form(method="POST" action="")
    input#weaponid(type="hidden" name="weaponid" required="true" value=detail._id)

    button(type="submit") Delete