extends layout 

block links
  link(rel="stylesheet", href="/stylesheets/weaponList.css") 

block content 
  h1= title 

  p 
    a(href="/catalog/weapon/create") Add a weapon

  ul 
    each weapon in list 
      li.container
        a.card(href=weapon.url)         
          p#name #{weapon.name}

          ul#details
            li #[strong Type]: #{weapon.type.name}
            li #[strong Manufacturer]: #{weapon.manufacturer.name}
            li #[strong Elements]:
            if weapon.element
              each element in weapon.element 
                | #{element.name} 
            else 
              | None
            li #[strong Rarity]: #{weapon.rarity.name}

    else 
      li There are no weapons.