extends layout 

block links
  link(rel="stylesheet", href="/stylesheets/weaponList.css") 

block content 
  h1= title 

  p 
    a.btn(href="/catalog/weapon/create") Add a weapon

  ul.list-wrapper 
    each weapon in list 
      li.container
        a.card(href=weapon.url)         
          p#name #{weapon.name}

          ul#details
            li #[strong Type]: #{weapon.type.name}
            li #[strong Manufacturer]: #{weapon.manufacturer.name}
            li #[strong Elements]: 
              ul.element-list
                if weapon.element
                  each element, index in weapon.element 
                    li.element(style=`color: ${element.color}`)  #{element.name}
                else 
                  li None
            li #[strong Rarity]: #{weapon.rarity.name}

    else 
      li There are no weapons.