extends layout 

block content 
  h1= title 

  h2= weapon.name

  ul
    li #[strong Type]: #{weapon.type.name}
    li #[strong Manufacturer]: #{weapon.manufacturer.name}
    li #[strong Elements]:
    if weapon.element
      each element in weapon.element 
        | #{element.name} 
    else 
      | None
    li #[strong Rarity]: #{weapon.rarity.name}

  p Do you really want to delete this weapon?

  form(method="POST" action="")
    input#weaponid(type="hidden" name="weaponid" required="true" value=weapon._id)

    button(type="submit") Delete